h1 {
  text-align: center;
  font-family: 'Baloo Da', monospace;
  color: whitesmoke;
  margin: 0;
}

div {
  font-family: 'Baloo Da', monospace;
}

h4 {
  text-align: center;
}

form {
  text-align: center;
}

body {
  background: linear-gradient(60deg, #62e1d7, #e16295);
}

.remove-button {
  width: 15px;
  height: 15px;
}

#shopping-list {
  text-align: center;
}

.header {
  border-radius: 10px;
  border-style: dashed;
  border-color: #efe9f7;
  margin-left: auto;
  margin-right: auto;
  padding: 0.25rem 0.75rem;
  width: fit-content;
}

.header.item-list {
  border-style: solid;
  border-width: 0.1rem;
  background-color: #f7e9f1;
  display: block;
  height: 160px;
}

.shopping-list {
  display: block;
}

.parent {
  display: -webkit-inline-box;
}
