h1 {
    text-align: center;
    font-family: "Baloo Da", monospace;
    color: whitesmoke;
}

div {
    font-family: "Baloo Da", monospace;
}

h4 {
    text-align: center;
}

form {
    text-align: center;
}

body {
    background: linear-gradient(60deg, #62e1d7, #e16295);
}

.remove-button {
  width: 15px;
  height: 15px;
}

#shopping-list {
  text-align: center;
}
